<a href="https://colab.research.google.com/github/Benedicto-Luver/58002--OOP/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop

In [4]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

For Loop Through String

In [3]:
for x in "week":
  print(x)

w
e
e
k

For Loop Using Break Statement

[Display only Thursday]

In [10]:
for x in week:
  if x == "Thursday":
    print(x)
    break

Thursday

Range() Function

In [14]:
for x in range(2,6+1,2):
  print(x)

2
4
6

Nested Loops

In [21]:
adjective = ['red', 'big', 'tasty']
fruits = ['apple', 'banana', 'cherry']
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

break statement

In [20]:
i = 1
while i<=6:
  if i == 3:
    print(i)
    break
  i += 1

3

In [22]:
greetings = ['Hello']
number = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
for x in greetings:
  for y in number:
    print(x,y)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [23]:
a=9
while a >= 3:
  print(a)
  a-=1

9
8
7
6
5
4
3