<a href="https://colab.research.google.com/github/Benedicto-Luver/58002--OOP/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [1]:
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

Python Comment

In [3]:
#This is a comment
print("Hello, World")

Hello, World

Naming Variable

In [10]:
#Single variable with single value
x = 1
y = 2
x
y
print (x)
print (y)

#Multiple variable with a single value

a = b = c = "Maria"
print (a)
print (b)
print (c)

#Multiple variable with multiple values

e, f, g = 1, 2, 3
print (e)
print (f)
print (g)

1
2
Maria
Maria
Maria
1
2
3

Single or Double

In [11]:
v = "Sally"
u = 'Sally'
print (v)
print (u)

Sally
Sally

Casting

In [13]:
p = float(5)
p

5.0

Type() function

(resizing text) - #

In [15]:
f = "Ana"
g = 4.56

print(type(f))
print(type(g))

<class 'str'>
<class 'float'>

Concatenation using + symbol

In [22]:
k = "entertaining"
j = "Python Programming is "
print("Python Programming is " + k)
print(j + k)

Python Programming is entertaining
Python Programming is entertaining